.next
.next-e2e
.next-dev
.next-dev-local
certificates
deploy-keys
node_modules
playwright-report
test-results
coverage
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.production

# OpenNext
.open-next
.dev.vars
.wrangler
